.doctor__card {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.doctor__card:hover {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
