.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ebfafe;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
    margin: 0;
}

.header > .header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 0.2;
}

.header > .header__middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0.6;
    justify-content: center;
}

.header > .header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0.2;
    justify-content: flex-end;
}

.header > .header__right > .headerRight__option {
    background-color: #8bcfbc;
    border-radius: 999px;
    padding: 10px;
    font-family: "Poppins";
}
